---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import LinkCard from "../../components/LinkCard.astro";
import Prose from "../../components/Prose.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
	<Prose class="prose mx-auto my-16 px-8">
		<h1 transition:name="blog-title">Blog</h1>
	
		<p class="lead">Please read my blog</p>
	
		<hr class="border-t-2" />
	</Prose>
	<section>
        <ul class="mx-auto my-16 flex max-w-5xl flex-wrap justify-center gap-8 px-8">
            {
                posts.map(({ slug, data: {title, description, pubDate, series} }) => (
					<LinkCard
						href={"/blog/" + slug}
						class="relative"
						{title}
						{description}
						viewTransitionPrefix={slug}
					>
						<date
							slot="header"
							class="text-[0.8em] text-base-500"
							transition:name={`${slug}-date`}
							datetime={pubDate}
						>
							{pubDate.toLocaleDateString(undefined, {
								day: "numeric",
								month: "short",
								year: "numeric",
							})}
						</date>
						{series && (
							<div
								class="absolute left-2 top-2 -z-10 h-full w-full rounded-3xl bg-inherit
								border border-base-300 dark:border-base-800
								transition-transform group-hover:-rotate-2
								motion-reduce:transition-none motion-reduce:hover:transform-none"
							/>
							<div
								class="absolute left-1 top-1 -z-10 h-full w-full rounded-3xl bg-inherit
								border border-base-300 dark:border-base-800
								transition-transform group-hover:-rotate-1
								motion-reduce:transition-none motion-reduce:hover:transform-none"
							/>
							<div
								class="absolute left-0 top-0 -z-10 h-full w-full rounded-3xl
								border border-base-300 dark:border-base-800 bg-inherit"
							/>
						)}
					</LinkCard>
                ))
            }
        </ul>
    </section>
</Layout>
