---
import type { HTMLAttributes } from "astro/types";
import type { IconNode } from "lucide";
import LucideIcon from "./LucideIcon.astro";

type Props = HTMLAttributes<"a"> & {
    icon: IconNode;
    text?: string;
    index?: number;
};

const { href, icon, text, index, ...props } = Astro.props;
---

{
    href === undefined ? (
        <div
            class:list={[
                "flex p-2 rounded-lg items-center text-base-600 dark:text-base-500",
                "hover:bg-base-200 hover:brightness-125 focus:brightness-125 hover:dark:bg-base-800",
                index !== undefined && "social-link",
            ]}
            style={{ "--animation-wait": `${0.5 + (index ?? 0) * 0.1}s` }}
            {...props}
        >
            <LucideIcon icon={icon} class="h-5 w-5" aria-label={text} />
        </div>
    ) : (
        <a
            href={href}
            target="_blank"
            class:list={[
                "flex p-2 rounded-lg items-center text-base-600 dark:text-base-500",
                "hover:bg-base-200 hover:brightness-125 focus:brightness-125 hover:dark:bg-base-800",
                index !== undefined && "social-link",
            ]}
            style={{ "--animation-wait": `${0.5 + (index ?? 0) * 0.1}s` }}
            {...props}
        >
            <LucideIcon icon={icon} class="h-5 w-5" aria-hidden="true" />
            {text !== undefined && <span class="ml-2">{text}</span>}
        </a>
    )
}

<style>
    .social-link {
        --fly-in-y: -4rem;
        --fly-in-opacity: 0.5;
        --animation-wait: 0s;
        animation:
            var(--animation-wait) ease-out 0s 1 wait,
            0.6s ease-out var(--animation-wait) 1 flyIn;
    }
</style>
