---
import type { ComponentProps } from "astro/types";
import Layout from "./Layout.astro";
import Prose from "../components/Prose.astro";
import StatusLine from "../components/StatusLine.astro";
import { Newspaper } from "lucide";

type Props = {
    slug: string;
    title: string;
    description: string;
    pubDate?: Date;
} & ComponentProps<typeof Layout>;

const { slug, title, description, pubDate, ...props } = Astro.props;
---

<Layout {...props}>
    <StatusLine
        mode="insert"
        section="Blog"
        sectionIcon={Newspaper}
        pageTitle={title}
        headings={[]}
    />
    <article>
        <Prose class="mx-auto px-8 pb-16 pt-32 print:py-16 md:pt-48">
            <slot name="supertitle" />
            <h1 transition:name={`${slug}-title`}>
                {title}
            </h1>
            {description && <p class="lead">{description}</p>}
            <div>
                <div>By Niklas Burggraaff</div>
                {
                    pubDate && (
                        <div class="text-[0.8em] text-base-500">
                            <time datetime={pubDate.toDateString()}>
                                {new Date(pubDate).toLocaleDateString(undefined, {
                                    day: "numeric",
                                    month: "short",
                                    year: "numeric",
                                })}
                            </time>
                        </div>
                    )
                }
            </div>

            <hr class="border-t-2" />

            <slot />
        </Prose>
    </article>
</Layout>
